@page "/index.html"
@inherits IndexPage
@inject IJSRuntime JS

<h1>Hello, from Blazor.</h1>


<h3>PDF First Page Preview</h3>

<img src="@previewImage" width="150" height="200"/>

<button @onclick="ShowPreview" class="btn btn-primary">Show First Page</button>
@code {

    string? previewImage;
    private async Task ShowPreview()
    {
        previewImage = await JS.InvokeAsync<string>("pdfService.renderFirstPageImage", "sample.pdf");        
    }
}

<p>hi</p>